* {
    padding: 0;
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(4, 25%);
    grid-column: 3/6;
    grid-row: 2/4;
    height: 800px;
    width: 1400px;
    background-color: gray;
}

/*form*/

h1 {
    text-align: center;
}

.div-form {
    display: none;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 160px);
    text-align: center;
    width: 600px;
    height: 480px;
    background-color: white;
}


form {
    display: none;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    background-color: beige;
    padding: 5px;
}

form input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
}

.div-game {
    display: none;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(3, 160px);
    text-align: center;
    width: 600px;
    height: 480px;
    background-color: white;
}

#buttonStart {
    text-align: center;
    height: 40%;
    background-color: brown;
    color: white;
    padding: 10px 10px;
    width: 60%;
}

/*user score*/

.div-user-score {
    grid-row: 2/5;
    grid-column: 5/6;
    background-color: white;
    width: 200px;
    height: 480px;
}

h2 {
    margin: 10px;
    text-align: center;
}

ul {
    padding: 20px;
    list-style-type: none;
    text-align: center;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
}

.init-game {
    display: none;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    background-color: beige;
    padding: 5px;
}

.div-init-game {
    display: none;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    background-color: beige;
    padding: 5px;
}

count-down {

text-align: center;

}


.hidden {
    display: none;
}

.visible {
    display: grid;
}